@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
}

nav {
    background-color: #007bff;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 60px 20px;
    text-align: center;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

banner {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 200px; /* Ajuste a altura conforme necessário */
    background-color: #f0f0f0; /* Ajuste a cor de fundo conforme necessário */
}

.logo {
    max-width: 100%;
    max-height: 100%;
}

/* Responsividade */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    section {
        padding: 30px 10px;
    }
}
